# Some common python libraries
python-dotenv
pandas
matplotlib
numpy

# Special finance packages
pandas-datareader
yfinance
mplfinance

# GUI Package (not sure to keep)
PySimpleGUI
streamlit

# EXE generator package
pyinstaller
