# Some common python libraries
python-dotenv
pandas
matplotlib
plotly
numpy

# Special finance packages
pandas-datareader
yfinance
mplfinance

# GUI Package (not sure to keep)
PySimpleGUI
streamlit
ib_insync
dash

# EXE generator package
pyinstaller
